body {
  margin: 0;
  background: radial-gradient(circle, #0f172a, #020617);
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.container {
  text-align: center;
}

/* Title */
h1 {
  color: #22d3ee;
  text-shadow: 0 0 20px #22d3ee;
}

/* Top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* GRID */
#grid {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: rgba(0,0,0,0.6);
  border: 2px solid #22d3ee;
  box-shadow: 0 0 30px #22d3ee;
}

/* Cells */
.cell {
  border: 1px solid rgba(255,255,255,0.05);
}

/* Active block */
.block {
  background: linear-gradient(45deg, #22d3ee, #3b82f6);
  box-shadow: 0 0 10px #22d3ee;
}

/* Explosion */
.clear {
  animation: explode 0.3s ease forwards;
}

@keyframes explode {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(1.5); opacity: 0; }
}

/* Buttons */
button {
  margin: 10px;
  padding: 10px 20px;
  background: #22d3ee;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

button,
.btn {
    border: 1px solid rgba(255,255,255,0.3);
    transition: all 0.3s ease;
}

/* HOVER EFFECT */
button:hover,
.btn:hover {
    border-color: #00ffff; /* 👉 এইটা তুই change করবি */
    box-shadow: 0 0 10px #00ffff,
                0 0 20px #00ffff,
                0 0 40px rgba(0,255,255,0.6);
    transform: translateY(-2px);
}


.mobile-controls {
  margin-top: 15px;
}

.mobile-controls button {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}